In [1]:
# imports
import pandas as pd
import numpy as np

In [2]:
# loading the dataset
df=pd.read_csv('PlayTennis.csv')

In [3]:
df

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [4]:
# Calculating the values fro look-up table

# first for the outcome column(play)
df['play'].value_counts()

yes    9
no     5
Name: play, dtype: int64

In [5]:
P_yes=9/14
P_no=5/14

In [6]:
# now for the outlook column
pd.crosstab(df['outlook'],df['play'])

play      no  yes
outlook
overcast   0    4
rainy      2    3
sunny      3    2

In [7]:
P_overcast_no=0
P_rainy_no=2/5
P_sunny_no=3/5

P_overcast_yes=4/9
P_rainy_yes=3/9
P_sunny_yes=2/9

In [8]:
# now for the temp column
pd.crosstab(df['temp'],df['play'])

play  no  yes
temp
cool   1    3
hot    2    2
mild   2    4

In [9]:
P_cool_no=1/5
P_hot_no=2/5
P_mild_no=2/5

P_cool_yes=3/9
P_hot_yes=2/9
P_mild_yes=4/9

In [10]:
# now for the humidity column
pd.crosstab(df['humidity'],df['play'])

play      no  yes
humidity
high       4    3
normal     1    6

In [11]:
P_high_no=4/5
P_normal_no=1/5

P_high_yes=3/9
P_normal_yes=6/9

In [13]:
# now for the windy column
pd.crosstab(df['windy'],df['play'])

play   no  yes
windy
False   2    6
True    3    3

In [14]:
P_False_no=2/5
P_True_no=3/5

P_False_yes=6/9
P_True_yes=3/9

In [15]:
# now we have to predict the for the given condition
# Outlook=Sunny , temp=mild , humidity=normal, windy=false

# now for P(yes/Sunny,mild,normal,false)=P(yes)*P(Sunny/yes)*P(mild/yes)*P(normal/yes)*P(false/yes)
P_Yes=P_yes*P_sunny_yes*P_mild_yes*P_normal_yes*P_False_yes
print(P_Yes)

0.02821869488536155

In [16]:
# now for P(no/Sunny,mild,normal,false)=P(no)*P(Sunny/no)*P(mild/no)*P(normal/no)*P(false/no)
P_No=P_no*P_sunny_no*P_mild_no*P_normal_no*P_False_no
print(P_No)

0.006857142857142858

So here we can see that P_Yes>P_No so for the given condition (Outlook=Sunny , temp=mild , humidity=normal, windy=false) the outcome will be play=Yes according to Naive Bayes Classifier